
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Source+Code+Pro:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}


h2{
  justify-content:center;
  align-items:center;
  margin:40px;
  }

h3{
  justify-content:center;
  align-items:center;
  font-weight: bold;
}

  h4{
  text-align: left;
  margin: 5% 20% 4% 20%;
  font-family: 'Roboto', sans-serif;
  }


body{ 
  text-align: center; 
  color: #818181;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  height: 100%; 
  line-height: 1.7;
  margin:0;
}


div {
text-align: center;
font-family: 'Source Code Pro', monospace;
/* font-family:"Segoe UI",Arial,sans-serif; */
font-weight:400;

}

a{
  color: #adb2b5;
  text-decoration: none;
}

.name_section{
  background-image: url(images/company_page/textureqhite.jpg);
  background-size: cover;
  position: relative;
  height: 300px;
}

.nav {
 
  z-index: 1;
  top: 2.5em;
  display: flex;
  justify-content: center;
  flex-direction:row;
  justify-content: space-around;
  padding: 0;
  margin: 10% 10px 0 10px;

}

.box  {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}
.box .selected {
  align-self: flex-end;
  background-position: right;
}
#detail{
display:none;
}
#title{
  background-color: rgb(248 144 165);
  position:top;
  width: 100%;
  height: 35vw;
  background-color: rgb(248 144 165);
}
#banner:hover{
  opacity: 0;
}
#experience{
  height: 300px;
  background-color: rgb(90, 199, 184);
}
#experience:hover{ 
  background-image: url('https://bit.ly/2VXRYJi');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
}
#topbanner{
  background-image: url(images/logo/topbanner.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100vw;
    height: 40vw;

}
/* image stuff */
  #icon1,#icon2,#icon3,#icon4,#icon5,#icon6{
  background-image: url('images/icons/more.png');
  cursor: pointer;
/* background-position: left; */
  background-size: contain;
  background-repeat: no-repeat;
  margin:0;
  width: 100vw;
  height: 4vw;
}
/* popup message for carrier experience */
#img1{
  display: none;
  width: auto;
  position: relative;
  z-index: 5;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 254, 254, 0.9);
  overflow:scroll;
}
.overlay-content {
  text-align: left;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: #61616136;
  padding: 30% 10%;
  display: flex;
  flex-direction: column;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#companylink{
  z-index: 20;
  font-size: 12px;
  
}
#mainrule{
  margin:0 8vw 0 0;
  text-align: left;
  font-weight: 800;
}
#yoox{
  background-image: url('images/logo/yoox.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  margin:0;
  width: 70vw;
  height: 40vw;
} 
#yoox:hover{
  background-image: url('images/company_page/yoox.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}
#modem {
  background-image: url('images/logo/modem.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin:0;
  width: 70vw;
  height: 40vw;
  display: flex;
  align-self: flex-end;
}
#modem:hover{
  background-image: url('images/company_page/modem.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#luisaviaroma{
  background-image: url('images/logo/luisaviaroma.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  margin:0;
  width: 70vw;
  height: 40vw;
}
#luisaviaroma:hover{
  background-image: url('images/company_page/luisaviaroma.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}
#skplanet{
  background-image: url('images/logo/skplanet.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin:0;
  width: 70vw;
  height: 40vw;
}
#skplanet:hover{
  background-image: url('images/company_page/skplanet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#marcona{
  background-image: url('images/logo/marcona3.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  margin:0;
  width: 70vw;
  height: 40vw;
}
#marcona:hover{
  background-image: url('images/company_page/marcona3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}
#samsung{
  background-image: url('images/logo/samsung.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin:0;
  width: 70vw;
  height: 40vw;
}
#samsung:hover{
  background-image: url('images/company_page/samsungdesign.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.subtitle {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10vw 0;
  width: 100vw;
  height: 5vw;
}
#about {
  background-image: url(images/icons/about.png);
}
#work{
  background-image: url(images/icons/work.png);
}
#study{
  background-image: url(images/icons/education.png);
}
#contact{
  background-image: url(images/icons/contact.png);
}
#more{
  background-image: url(images/logo/more.png);
}
#backtotop{
  background-image: url(images/icons/backtotop.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  margin: 3vw 0;
  width: 100vw;
  height: 5vw;
}
#education{
  background-image: url(images/icons/layoutedu.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: -webkit-fill-available;
}

input[type=text], select, textarea {
  resize: vertical; 
  width: 60%;
  display: block;
  padding: 12px;
  border: 1px solid #93b6b1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin: 6px auto;
  color:rgb(45, 46, 53);
  font-size:10px}

input[type=submit] {
  font-size: 10px;
  background-color: #93b6b1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #65a0a0;
}

/* Add a background color and some padding around the form */
.container {
  background-color: white;
  padding: 20px 20PX 80PX 20PX;
}
label{    
  font-size: 12px;
  font-weight: lighter;
  color: #adb2b5;}

/* * ----------------------- */
/* * ----------------------- */
/* * ----------------------- */
.w2-animate{
  animation:fadein 2s;
}
.w3-animate {
  animation:fadein 10ss;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* width: 30vw; */
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: -webkit-fill-available;
}

#LI-profile-badge, #GI-profile-badge {
  display: block;
  height: auto;
  background-position: center;
 background-repeat: no-repeat;
  display: flex;
  width: 5vw;
  height: 5vw;
  background-size: contain;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: inline-block; 
  width: 3vw;
 

}
#LI-profile-badge{
  background-image: url(images/social/linkding.png);
 
}
#GI-profile-badge{
  background-image: url(images/social/GitHub.png);
  
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #93b6b1; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #93b6b1; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
  
@media screen and (min-width:1000px) {
  #education{
    background-image: url(images/icons/layoutedu.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* width: 30vw; */
    justify-content: center;
    align-items: center;
    background-size: contain;
  }
  #companylink{

    font-size: 14px;
    
  }
  .w3-animate {
    animation:fadein 4.5s;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* width: 30vw; */
    justify-content: center;
    align-items: center;
    background-size: contain;
    max-width: 800px;
  }
  body{ 
    font-size: 18px;
  }
  a{font-weight: 700;}
  .overlay-content{display: flex;
  flex-direction: row;}
}
  
  



    /* .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; */
    
  
  
  /* @media screen and (max-width:600px)
{
#one
#two,#three { 
justify-content:space-around;
display: inline-block;
width: 50px;
height: 50px;
background-color:grey;
align-items: center;}
} */